<h1>Receipt# {{ receiptNumber }}</h1>
<p>Transaction Number: {{transactionNumber}}</p>
<p>Timestamp: {{timestamp}}</p>
<p>From: {{from}}</p>
<p>To: {{to}}</p>
<p>Amount: {{amount}}</p>
<p>Fee: {{fee}}</p>
<p>Total: {{total}}</p>
<p>Transaction ID: {{transactionID}}</p>